
<div>
   <!-- <ng-progress></ng-progress> -->
    <h1>My Goals</h1>
   <hr>
   <ul>
     <!-- <li *ngFor='let goal of goals'>
        {{goal.id}}  {{goal.name}}
        <app-goal-detail [goal]='goal'></app-goal-detail>

     </li> -->
     <div *ngFor='let goal of goals;let i = index'>
      <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
      <!-- <button (click)='toggleDetails(i)'>Toggle Details</button> -->
      <button class='btn bg-success mx-2' (click)='goToUrl(goal.id)'>View Details</button>

      <button class='btn bg-danger mx-2'   (click)='deleteGoal($event,i)'>Delete goal</button>

      <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail> -->
    </div>
     
   </ul>
   
   <p *ngIf='goals.length > 5'>Your goals are too many</p>

   <div class="row">
      <blockquote class=" blockquote text-center">
         <h1>  Today's Qoute</h1>
         <p class="mb-3 p-1">{{quote.quote }}</p>
         <footer class="blockquote-footer p-2 "> By <cite>{{ quote.author }}</cite></footer>
      </blockquote>

   </div>
 
</div>
<div class="col-md-6">
   <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
</div>
 
